<header class="header-section">

    <div>
        <ul class="menu-container">
            <li><a class="logo" href="/home.html">Furniture-Shop</a></li>
            <li>
                <hr class="divider">
            </li>
            <li><a class="menu" href="/home.html">Home</a></li>
            <li><a class="menu" href="/shop.html">Shop</a></li>
            <li><a class="menu" href="/search.html">Search</a></li>
        </ul>
    </div>

    <nav class="navbar-section">
        <!--For logging users-->
        <div>
            <a class="user" href="/createOffer.html">Create Offer </a>
        </div>

        <div>
            <a class="user" href="#">Logout</a>
        </div>
        <!--For guest user-->

        <div>
            <a class="user" href="/login.html">Login</a>
        </div>

        <div>
            <a class="user" href="/register.html">Register</a>
        </div>
    </nav>

</header>