<header class="header-section">

    <div>
        <ul class="menu-container">
            <li><a class="logo" routerLink="/">Furniture-Shop</a></li>
            <li>
                <hr class="divider">
            </li>
            <li><a class="menu" routerLink="/">Home</a></li>
            <li><a class="menu" routerLink="/shop">Shop</a></li>
            <li><a class="menu" routerLink="/search">Search</a></li>
        </ul>
    </div>

    <nav class="navbar-section">

        <!--For logging users-->

        <ng-container *ngIf="isLoggedIn">
            <div>
                <a class="user" routerLink="/create-offer">Create Offer </a>
            </div>

            <div (click)="logoutUser()">
                <a routerLink="#" class="user">Logout</a>
            </div>
        </ng-container>


        <!--For guest user-->

        <ng-container *ngIf=!isLoggedIn>
            <div>
                <a class="user" routerLink="/login">Login</a>
            </div>

            <div>
                <a class="user" routerLink="/register">Register</a>
            </div>
        </ng-container>

    </nav>

</header>