.header-section a {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.header-section a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    transition: .3s;
}

.header-section a:hover::before {
    width: 100%;
}

.header-section {
    position: relative;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 1;
}

.header-section div .menu-container {
    list-style: none;
}

.header-section div .menu-container li {
    display: inline-block;
    padding: 0px 10px;
}

.header-section div .menu-container .logo {
    font-size: 32px;
    color: #22d378;
    text-decoration: none;
    font-weight: 700;
}

.header-section div .menu-container .logo::after {
    content: '';
    position: relative;
    left: 10px;
    border: 2px solid #22d378;
}

.header-section div .menu-container .menu {
    color: #22d378;
    text-transform: uppercase;
}

.header-section div .menu-container .menu::before {
    background: #22d378;
}

.header-section .navbar-section div {
    display: inline-block;
    padding: 0px 10px;
}

.header-section .navbar-section .user {
    color: #fff;
    text-transform: uppercase;
}

.header-section .navbar-section .user::before {
    background: #fff;
}