section .profile img {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.details-section .container .wrapper-details {
    display: flex;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    color: #333;
    background-color: #22d37880;
    box-shadow: 0 0 10px rgb(51, 51, 51, .4);
    border-radius: 8px;
    overflow: hidden;
}

.details-section .container .wrapper-details .left-box {
    width: 60%;
}

.details-section .container .wrapper-details .left-box .image-box .main-image {
    display: block;
    width: 100%;
    height: 600px;
}

.details-section .container .wrapper-details .right-box {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 40px 60px 40px 0px;
}

.details-section .container .wrapper-details .right-box h3 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
}

.details-section .container .wrapper-details .right-box .header-right a .profile {
    display: flex;
    width: max-content;
    gap: 10px;
    align-items: center;
    padding-right: 16px;
}

.details-section .container .wrapper-details .right-box .header-right a .profile:hover {
    background-color: #F7F7F7;
    border-radius: 21px;
}

.details-section .container .wrapper-details .right-box .header-right h1 {
    font-size: 2rem;
}

.details-section .container .wrapper-details .right-box .header-right a .profile p {
    color: #5e5e5e;
    font-style: italic;
}

.details-section .container .wrapper-details .right-box .box-reviews .stars i:nth-child(-n + 3) {
    color: darkorange;
}

.details-section .container .wrapper-details .right-box .box-reviews {
    display: flex;
    margin-top: 20px;
    gap: 30px;
}

.details-section .container .wrapper-details .right-box .box-reviews p {
    text-decoration: underline;
    cursor: pointer;
}

.details-section .container .wrapper-details .right-box .box-price-quantity {
    display: flex;
    gap: 115px;
    margin-top: 25px;
    text-transform: uppercase;
}

.details-section .container .wrapper-details .right-box .box-price-quantity .price p {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.details-section .container .wrapper-details .right-box .box-price-quantity .quantity {
    flex-grow: 1;
    max-width: 150px;
}

.details-section .container .wrapper-details .right-box .box-price-quantity .quantity .quantity-btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #F7F7F7;
    border-radius: 37px;
    overflow: hidden;
}

.details-section .container .wrapper-details .right-box .box-price-quantity .quantity .quantity-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    aspect-ratio: 1;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
}

.details-section .container .wrapper-details .right-box .box-price-quantity .quantity .quantity-btn button:hover {
    background-color: #22d37880;
    color: #333;
}

.details-section .container .wrapper-details .right-box .box-description-details {
    flex: 1;
    margin-top: 25px;
}

.details-section .container .wrapper-details .right-box .box-description-details .content-header {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.details-section .container .wrapper-details .right-box .box-description-details .content-header div {
    flex: 1 1 50%;
    text-align: left;
}

.details-section .container .wrapper-details .right-box .box-description-details .content-header div a {
    display: block;
    color: inherit;
    font-size: 1.2rem;
    cursor: pointer;
}

.details-section .container .wrapper-details .right-box .box-description-details .content-header div .active {
    border-color: #5e5e5e;
}


.details-section .container .wrapper-details .right-box .box-description-details .content {
    flex-direction: column;
    margin-top: 25px;
}

.details-section .container .wrapper-details .right-box .box-description-details .content div {
    display: flex;
    align-items: baseline;
}

.details-section .container .wrapper-details .right-box .box-description-details .content div p:nth-child(1) {
    flex: 0 0 30%;
}

.details-section .container .wrapper-details .right-box .box-description-details .content div p:nth-child(2) {
    padding-left: 20px;
    flex: 0 1 auto;
}

.details-section .container .wrapper-details .right-box .box-total-price {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 60px;
    text-transform: uppercase;
}

.details-section .container .wrapper-details .right-box .box-total-price p {
    font-size: 20px;
    font-weight: bold;
}

.details-section .container .wrapper-details .right-box .box-total-price .button-box {
    display: flex;
    gap: 20px;
    align-items: center;
}

.details-section .container .wrapper-details .right-box .box-total-price .button-box button,
.details-section .container .wrapper-details .right-box .box-total-price .button-box a {
    font-size: 16px;
    height: 40px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

.details-section .container .wrapper-details .right-box .box-total-price .button-box button[name='heart'] {
    cursor: auto;
}

.details-section .container .wrapper-details .right-box .box-total-price .button-box .btn-hover:hover {
    background-color: #fff;
    color: #333;
}

.details-section .container .wrapper-details .right-box .box-total-price .button-box button i:hover {
    cursor: pointer;
    color: red;
}

.details-section .container .wrapper-details .right-box .box-total-price .button-box .purchase {
    padding: 5px 5px;
    text-align: center;
    background: #333;
    border-radius: 20px;
    color: #fff;
    text-transform: none;
}