.checkout {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.checkout .wrapper-checkout {
  flex: 1 0 auto;
  max-width: 600px;
  padding: 30px;
  color: #333;
  background-color: #22d37880;
  box-shadow: 0 0 10px rgb(51, 51, 51, 0.4);
  border-radius: 8px;
  overflow: hidden;
}

.checkout .wrapper-checkout .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

.checkout .wrapper-checkout .header header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.checkout .wrapper-checkout .header header .step {
  width: 28px;
  height: 28px;
  text-align: center;
  background: #333;
  color: white;
  border-radius: 50%;
  border: 2px solid #333;
}

.checkout .wrapper-checkout .header header h2 {
  margin-bottom: 0.35rem;
}

.checkout .wrapper-checkout .header .change-info {
  background: none;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline double #3b82f6;
}

.checkout .wrapper-checkout .address .delivery-info {
  width: max-content;
  line-height: 26px;
}

.checkout .wrapper-checkout hr {
  margin: 20px 0;
  border: 1px solid #5e5e5e;
}

.checkout .wrapper-checkout .payment .payment-info .payment-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.checkout .wrapper-checkout .payment .payment-info .payment-container > .card {
  flex: 1;
  min-height: 70px;
  padding: 20px 24px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid #5e5e5e;
  border-radius: 5px;
}

.checkout
  .wrapper-checkout
  .payment
  .payment-info
  .payment-container
  > .card.active {
  background-color: #fff;
}

.checkout
  .wrapper-checkout
  .payment
  .payment-info
  .payment-container
  > .card
  > i {
  font-size: 30px;
  padding: 2px 12px;
  border: 1px solid #5e5e5e;
  border-radius: 5px;
}

.checkout
  .wrapper-checkout
  .payment
  .payment-info
  .payment-container
  > .card
  > p {
  font-weight: bold;
  font-style: italic;
}

@media (max-width: 992px) {
  .checkout {
    flex-direction: column;
  }
  .checkout .wrapper-checkout {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .checkout .wrapper-checkout .payment .payment-info .payment-container {
    flex-direction: column;
  }

  .checkout .wrapper-checkout .header header h2 {
    font-size: 1.5rem;
  }

  .checkout .wrapper-checkout .header header {
    align-items: baseline;
  }
}
