body:has(.overlay-search) {
  overflow: hidden;
}

.overlay-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: baseline;
  z-index: 2;
}

.wrapper-search {
  flex: 1;
  max-width: 500px;
  background-color: #22d378;
  border: 3px solid #33333366;
  box-shadow: 0 0 10px #33333366;
  color: #333;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 0 auto;
  margin-top: 85px;
}

.wrapper-search .input-box {
  position: relative;
  margin: 30px 0;
}

.wrapper-search .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper-search .input-box .search-input {
  width: 100%;
  background: transparent;
  outline: none;
  border: 2px solid #33333366;
  border-radius: 40px;
  font-size: 16px;
  color: #333;
  padding: 15px 20px 15px 20px;
  text-overflow: ellipsis;
}

.wrapper-search .input-box .search-input::placeholder {
  color: #333;
}

.wrapper-search hr {
  border: 1px solid #33333366;
  margin-top: 0;
  margin-bottom: 30px;
}

.wrapper-search .no-match {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color: #e4e5e9;
  border: 1px solid #33333366;
  border-radius: 10px;
}

.wrapper-search .no-match h2 {
  font-size: 1.6rem;
  margin-bottom: 0rem;
}

@media (max-width: 576px) {
  .wrapper-search {
    margin: 85px 10px;
  }
}
