.summary-section {
  flex: 0 0 30%;
  background: #22d37880;
  padding: 20px;
  border-radius: 10px;
  align-self: flex-start;
  box-shadow: 0 0 10px rgb(51, 51, 51, 0.4);
}

.summary-section .summary h3 {
  margin-bottom: 15px;
}

.summary-section .summary p {
  margin: 10px 0;
}

.summary-section .summary span {
  float: right;
}
