.flex-container {
    max-width: 400px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 2px solid green;
    padding: 1em;
}

.flex-item {
    padding: 1.3em;
    background-color: #eee;
    border: 2px solid black;
}

.flex-start-default {
    align-content: flex-start;
}

.center {
    align-content: center;
}

.flex-end {
    align-content: flex-end;
}

.space-between {
    align-content: space-between;
}

.space-around {
    align-content: space-around;
}