<section class="introduction-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <h1>
                        The Latest
                        <span>
                            Furniture
                        </span>
                    </h1>
                    <p>
                        That brighten every room. All thoughtfully designed and meticulously crafted furniture,
                        for your home sweet home.
                    </p>
                </div>
            </div>
            <div class="col-md-6 img-container">
                <div class="img-box">
                    <img src="/assets/images/slider-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>