<section class="search-section layout-padding">

    <div class="container">

        <div class="heading-container">
            <h2>
                Search
            </h2>
        </div>

        <div class="search-form layout-padding2">
            <div class="wrapper">
                <form>
                    <div class="input-box">
                        <input type="text" name="name" class="search-input" placeholder="Enter your search name">
                        <i class='bx bxs-search-alt-2'></i>
                    </div>
                    <div class="input-box">
                        <input type="text" name="type" class="search-input" placeholder="Enter your search type">
                        <i class='bx bxs-search-alt-2' ></i>
                    </div>
                    <button class="search-button">Search</button>
                </form>
            </div>
        </div>

        <app-brand-container />

        <div class="no-match">
            <h2 class="h2">Whoops sorry no match was found!</h2>
        </div>

    </div>
</section>