* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.layout-padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.layout-padding2 {
    padding: 45px 0;
}

.heading-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.heading-container h2 {
    color: #252525;
    position: relative;
    font-family: 'Poppins', sans-serif
}

.heading-container h2::before {
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    top: 50%;
    right: -10px;
    background-color: #24d278;
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
}

.introduction {
    height: 100vh;
    background-image: url(/assets/images/hero-bg.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
}


.introduction::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-image: url(/assets/images/hero-side-bg.png);
    background-size: cover;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1250px;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 1225px) {

    body .introduction .header-section .navbar-section .user {
        color: #22d378;
    }

    body .introduction .header-section .navbar-section .user::before {
        background: #22d378;
    }

    .introduction {
        overflow: visible;
    }

    .introduction::after {
        background-image: none;
    }
}


@media (max-width: 992px) {

    body .introduction .header-section {
        padding: 20px 20px;
        display: inline-block;
    }

    .header-section a {
        position: static;
    }

    .search-section .no-match {
        margin: auto;
    }

    .wrapper,
    .search-form .wrapper {
        width: 550px;
    }

    .details-section .details {
        margin: 40px 40px;
        flex-direction: column;
        text-align: center;
    }

    .details .image-box {
        padding: 15px 0px;
    }

    .details .info-box {
        padding: 0;
    }

    .details .info-box h2 {
        font-size: 1.5rem;
    }

    .details .info-box h3 {
        font-size: 1rem;
    }

    .details-section .purchase-box {
        width: 60%;
    }
}

@media (max-width: 895px) {
    .introduction {
        height: auto;
    }

    .introduction::after {
        background-image: none;
        background-color: rgba(34, 211, 120, 0.4);
        width: 100%;
        height: 450px;
    }

    .introduction-section {
        text-align: center;
    }

    .introduction-section .detail-box {
        margin-bottom: 45px;
    }

    .introduction .introduction-section .container .row .img-container {
        justify-content: center;
    }


    .introduction {
        background: none;
    }

    .introduction-section {
        padding-top: 35px;
    }

    body .introduction .introduction-section .container .row .col-md-6 .detail-box h1 span {
        font-size: 4rem;
    }

    .introduction-section .img-box {
        margin: 40px 0;
    }

    .introduction-section .img-box {
        margin-top: 125px;
        margin-bottom: 90px;
    }

    .about_section .detail-box {
        margin-bottom: 45px;
    }

    footer .footer-content .row .container-form input[type=text],
    textarea {
        width: auto;
    }

    .about-section .img-box img {
        padding-top: 25px
    }

    .search-section .no-match {
        margin: auto;
    }

    .wrapper,
    .search-form .wrapper {
        width: 450px;
    }

    .details-section .details {
        margin: 30px 30px;
    }

    .details-section .btn {
        width: 30%;
    }
}

@media (max-width: 576px) {
    .introduction-section .detail-box h1 {
        font-size: 2.5rem;
    }

    body .introduction .introduction-section .container .row .col-md-6 .detail-box h1 span {
        font-size: 3.5rem;
    }

    .search-section .no-match {
        margin: auto;
    }

    .wrapper,
    .search-form .wrapper {
        width: 400px;
    }

    .details-section .purchase-box {
        width: 70%;
    }
}


@media (max-width: 450px) {
    .introduction-section .detail-box h1 {
        font-size: 2rem;
    }

    body .introduction .introduction-section .container .row .col-md-6 .detail-box h1 span {
        font-size: 3rem;
    }

    .wrapper,
    .search-form .wrapper {
        width: 320px;
    }

    .search-section .no-match {
        margin: auto;
    }

    .heading-container h2 {
        font-size: 1.5rem
    }

    .main-image {
        height: auto;
    }

    .details-section .details {
        margin: 25px 25px;
    }

    .details-section .purchase-box {
        width: 80%;
    }

}

@media (max-width: 350px) {
    .introduction-section .detail-box h1 {
        font-size: 1.5rem;
    }

    body .introduction .introduction-section .container .row .col-md-6 .detail-box h1 span {
        font-size: 2.5rem;
    }

    .wrapper,
    .search-form .wrapper {
        width: 300px;
    }

    .search-section .no-match {
        margin: auto;
    }

    .heading-container h2 {
        font-size: 1.3rem
    }

    .details-section .details {
        margin: 20px 20px;
    }

}