.receive-info {
  background: #22d37880;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(51, 51, 51, 0.4);
}

.receive-info h3 {
  margin-bottom: 20px;
}
.receive-info .receive-choice {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.receive-info .receive-shop,
.receive-info .receive-home {
  display: flex;
  flex-direction: column;
}

.receive-info .container-receive {
  font-size: 14px;
  padding: 15px;
  border: solid 2px #333;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  background: none;
  text-align: left;
}

.receive-info .container-receive.flex-elements {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  flex: 1 1 auto;
}

.receive-info .container-receive.active {
  background: #fff;
}

.receive-info .container-receive .receive-method.flex-elements {
  display: flex;
  justify-content: space-between;
}

.receive-info .container-receive .receive-method p:nth-child(1) {
  font-weight: bold;
}

.receive-info .container-receive .icon > i {
  font-size: 30px;
}
