.divide {
  display: flex;
  justify-content: center;
  gap: 25px;
  color: #333;
}

.divide .basket-section {
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.divide .basket-section .basket-info {
  background: #22d37880;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(51, 51, 51, 0.4);
}

.divide .basket-section .basket-info .basket-heading {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px 15px;
  border-bottom: 2px solid #5e5e5e;
}

.divide .basket-section .basket-info .basket-heading > i {
  font-size: 40px;
}

.divide .basket-section .basket-info .basket-heading > h2 {
  margin: 0;
}

.divide .basket-section .basket-info .basket-body {
  padding: 20px 15px;
}

.divide .basket-section .basket-info .basket-body .empty-basket {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divide .basket-section .basket-info .basket-body .empty-basket h2 {
  font-size: 1.5rem;
}

.divide .basket-section .basket-info .basket-body .empty-basket .underline {
  font-size: 20px;
  text-decoration: underline;
  font-weight: 600;
}

.divide .basket-section .basket-info .basket-body .empty-basket a:hover {
  color: #fff;
  text-decoration: underline;
}

.divide .basket-section .payment-info {
  background: #22d37880;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(51, 51, 51, 0.4);
}

.divide .basket-section .payment-info h3 {
  margin-bottom: 20px;
}

.divide .basket-section .payment-info .payment-icons {
  display: flex;
  gap: 10px;
}

.divide .basket-section .payment-info .payment-icons img {
  width: 50px;
  height: 30px;
}
