<div class="brand-container layout-padding2">
    <div class="box" *ngFor="let furniture of furnitureArr">
        <a routerLink="/details/{{furniture._id}}">

            <!-- /only visualize at home page/ -->
            <div *ngIf="isHome" class="new">
                <h5>
                    New
                </h5>
            </div>
            <div class="img-box">
                <img src="{{furniture.imageUrl}}" alt="">
            </div>
            <div class="detail-box">
                <h6 class="price">
                    ${{furniture.price}}
                </h6>
                <h6>
                    {{furniture.name}}
                </h6>
            </div>
        </a>
    </div>

</div>

<div *ngIf="noProperties" class="no-match">
    <h2 class="h2">Whoops sorry no match was found!</h2>
</div>