<section class="register layout-padding">
    <div class="container">
        <div class="heading-container">
            <h2>
                Register
            </h2>
        </div>
        <div class="layout-padding2">
            <div class="wrapper">
                <form>
                    <div class="input-box">
                        <input type="text" placeholder="Type your username" name="username">
                        <i class='bx bxs-user'></i>
                    </div>

                    <div class="input-box">
                        <input type="text" placeholder="Type your email" name="email">
                        <i class='bx bxs-envelope'></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Type your password" name="password">
                        <i class='bx bxs-lock-alt'></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Confirm your password" name="rePassword">
                        <i class='bx bxs-lock-alt'></i>
                    </div>

                    <button class="btn">Register</button>

                    <div class="link">
                        <p>Already have an account?
                            <a routerLink="/login">Login here</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>