.sub-btn {
  display: block;
  width: 100%;
  background: #333;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
}

.sub-btn:hover {
  background-color: #fff;
  color: #333;
}

.sub-btn:disabled {
  cursor: not-allowed;
  filter: blur(2px);
}
